<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Stil eklemeleri */
        
        .container {
            margin-top: 50px;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .login-container {
            margin-top: 50px;
            max-width: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="login-container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <h2>Login</h2>
            <form method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</body>

</html>
